{% extends 'base.html' %}
{% block title %} Register - TODO App {% endblock %}

{% block content %}
  <div class="registration-box">
    <h2>Register</h2>
    <form action="{{url_for('auth.register')}}" method
    ="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
{% endblock %}